* {
  padding: 0;
  margin: 0;
 
}
html{
  padding-left: 5%;
  padding-right: 5%;
}

@media screen and (min-width: 1025px) {
  :root {
    font-style: 16px;
    overflow-x: hidden;
  }
  }

  .input {
    width: 15%;
  }

  #show {
    width: 600px;
    height: 375px;
    border: 0.0625rem solid red;
  }

  .res {
    flex: 1;
    display: flex;

  }

  .main {
    width: 100vw;
    display: flex;

  }

  .res {
    /* position: absolute;
    left:  900px;
    top: 120px; */
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    padding-right: 30px;
    margin-left: 50px;
  }

  .show1 {
    height: 375px;
    width: 600px;
    border: 0.0625rem solid red;
    overflow: hidden;
  }
}

@media screen and (max-width: 1035px) and (min-width: 900px) {
  :root {
    font-style: 16px;
  }

}


@media screen and (max-width:800px) and (min-width:600px) {
  :root {
    font-style: 8px;
  }


}

@media screen and (max-width:600px) {
  :root {
    font-style: 5px;
  }

  html {
    margin-left: 0.3rem;
    margin-top: 2rem;

  }

  .input {
    width: 35%;
  }
 

  #show {
    width: 95%;
    height: 200px;
    border: 0.0625rem solid red;
  }

  .res {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;

  }

  #show1 {
    height: 200px;
    border: 0.0625rem solid red;
  
   
  }

}






/* #show1 {
  width: 50rem;
  height: 31.25rem;
  
} */

.mark,
.mark1 {
  width: 100%;
  height: 100%;
}

.show1:hover{
  transform: scale(1.2);
}

/* #show img {
  width: 300px;
  height: 100%;
}
#show1 img {
  width: 100%;
  height: 100%;
} */




.disable {
  display: none;
}